$color-primary: #00FFA3;
$color-secondary: #D1D1D1;
$color-dark: #000000;
$color-light: #FFFFFF;
$linear-bg-dark: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

$bgImg-intro: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true";
$bgImg-link-discord: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/discord.png?raw=true";
$bgImg-link-instagram: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/instagram.png?raw=true";
$bgImg-link-message: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/message.png?raw=true";
$bgImg-project-more: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2015.png?raw=true";
$bgImg-project-photoBtm-l: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2014.png?raw=true";
$bgImg-project-photoBtm-r: "https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/Rectangle%2029.png?raw=true";